.container-carousel {
    background: #263a49;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }
  
  .wrapper {
    display: flex;
    overflow: hidden;
    width: 70em;
  }
  
  .inner {
    display: flex;
    grid-gap: 1em;
    transition: all 1s;
  }

  .carousel-button--prev {
      background: url(../assets/-e-kz-angle-down@3x.svg) no-repeat center;
      border: none;
      width: 50px;
      height: 50px;
      transform: rotate(90deg);
  }

  .carousel-button--next {
    background: url(../assets/-e-kz-angle-down@3x.svg) no-repeat center;
    border: none;
    width: 50px;
    height: 50px;
    transform: rotate(270deg);
}

.card {
    background: #263a49;
    border: none;
}

.img-carousel {
    margin: 10px;
}